# .coveragerc to control coverage.py

[run]
branch = True
source = pyntc

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError

ignore_errors = True

[html]
directory = coverage_html_report
