---
language: python

python:
  - "3.6"
  - "3.7"
  - "3.8"


install:
  # XXX: Migrate this to Poetry fully
  # Install Tox, which is currently our testrunner and helper
  - pip install tox

script:
  # Run all our tests
  - tox

after_success:
    - coveralls
